<style>
    .dropClass {
      /* display: none; */
        visibility: hidden;
        opacity: 0;
        transition: 
        all .5s ease;
        background-color: transparent;
        min-width: 160px;
        overflow: auto;
        z-index: 1;
        height: 0;
      
    }
    
    .dropClass a {
      color: black;
      padding: 12px 16px;
      /* text-decoration: none; */
      display: block;
    }
    
    .dropClass a:hover {background-color: rgba(255,255,255,.1);}
    .show {
        /* display: block; */
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 0.5rem 1rem;
        background-color: rgba(255,255,255,.3);
        margin-bottom: 1.5%;
        border-radius: 3%;
    }

    .putar {
        transform: rotate(90deg);
        transition: all .5s ease;
    }
    </style>

<div class="wrapper">
    <!-- Navbar -->
  <nav class="main-header navbar navbar-expand .bg-dark" 
    style="
    position: fixed;
    width: 100%;
    background-color: #343a40 !important;">
    <img src="btsonair/assets/image/wall5.jpg" class="backgroundImg2" style="position: fixed;
    width: 100%;">
    <!-- <img src="./assets/image/wall5.jpg" class="backgroundImg2" style="position: fixed;
    width: 100%;"> -->
    
        <!-- Left navbar links -->
    <ul class="navbar-nav" style="z-index: 9999">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="btsonair/#"><i class="fa fa-bars nav-button" style="color:#fff"></i></a>
      </li>
      <li style="border: none">
        <div class="toolbar-title" style="
          height: auto;
          margin-top: 1%;
          font-size: 21px;
          margin-left: 36%;
          width: max-content;
          color: #fff;
          font-weight: 400;">NEISA | BTS ON AIR</div> 
      </li>
      <li style="border: none">
        <p>
          <a onclick="sessionStorage.clear();" href="http://10.54.36.49/landingPage/" class="btn btn-lg" style="
                color: #343a40;
                background-color: #fff;
                position: fixed;
                font-size: 10px;
                right: 1%;
                top: 0px;
                height: auto;
                padding: 1%;">
              <i class="fas fa-sign-out-alt"></i>
                Log out
          </a>
        </p> 
      </li>  
    </ul>  
  </nav>
</div>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
<img src="btsonair/assets/image/wall3.jpg" class="backgroundImg">
<!-- <img src="./assets/image/wall3.jpg" class="backgroundImg"> -->
    <!-- Brand Logo -->
    <a href="btsonair/#" class="brand-link">
        <img src="btsonair/assets/image/tsel-white.png" alt="tsel-white logo" class="brand-image "
            style="opacity: .8">
            <!-- <img src="./assets/image/tsel-white.png" alt="tsel-white logo" class="brand-image "
            style="opacity: .9"> -->
        <!-- <span class="brand-text font-weight-light">BTS ON AIR</span> -->
    </a>
    
    <!-- start sidebar -->
    <div class="sidebar" >
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="http://10.54.36.49/dashboard-bts-on-air/public/" class="nav-link" style="color: #fff;padding: 0.5rem 1rem !important;">
                    <i class="nav-icon fa fa-home"></i>
                        <p style="margin-left: 3px;">Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://10.54.36.49/dashboard-license" class="nav-link" style="color: #fff;padding: 0.5rem 1rem !important;">
                    <i class="nav-icon fa fa-newspaper"></i>
                        <p style="margin-left: 3px;">License</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="btsonair/#" class="nav-link aa active" style="color: #fff;padding: 0.5rem 1rem !important;">
                    <i class="nav-icon fa fa-broadcast-tower"></i>
                        <p style="margin-left: 3px;">BTS Status</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a (click)="dropDead()" class="nav-link aa dropbtn" style="color: #fff;padding: 0.5rem 1rem !important;">
                        <i class="nav-icon fa fa-angle-right" id="dropIcon"></i>
                        <!-- <i class="nav-icon fa fa-list-alt"></i> -->
                        <p style="margin-left: 3px;">Create</p>
                    </a>
                </li>

                
                <div class="dropClass" id="dropId">
                <li class="nav-item">
                    <a href="http://10.54.36.49/apk-nodin/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                        <!-- <i class="nav-icon fa fa-angle-right"></i> -->
                        <i class="nav-icon fa fa-list-alt"></i>
                        <p style="margin-left: 3px;">Create Integrasi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://10.54.36.49/apk-nodin-stylo/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                        <i class="nav-icon fa fa-list-alt"></i>
                        <p style="margin-left: 3px;">Create Rehoming</p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="http://10.54.36.49/apk-nodin-dismantle/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                    <i class="nav-icon fa fa-list-alt"></i>
                      <p style="margin-left: 3px;">Create Dismantle</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="http://10.54.36.49/apk-nodin-relocation/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                    <i class="nav-icon fa fa-list-alt"></i>
                      <p style="margin-left: 3px;">Create Relocation</p>
                  </a>
              </li>
              <li class="nav-item">
                <a href="http://10.54.36.49/apk-nodin-swap/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                    <i class="nav-icon fa fa-list-alt"></i>
                    <p style="margin-left: 3px;">Create Swap</p>
                </a>
            </li>
        </div>
                <li class="nav-item">
                    <a href="http://10.54.36.49/change-front-2/public/" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                    <i class="nav-icon fa fa-project-diagram"></i>
                        <p style="margin-left: 3px;">Process Tracking</p>
                    </a>
                </li>
                <li class="nav-item">
                  <a href="http://10.54.36.49/tableList" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                  <i class="nav-icon fa fa-table"></i>
                      <p style="margin-left: 3px;">Nodin & MoM Report</p>
                  </a>
              </li>
              <li class="nav-item">
                <a href="http://10.54.36.49/apk-report/index.php/ReportController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                    <i class="nav-icon fa fa-book"></i>
                    <p style="margin-left: 3px;">Report Remedy</p>
                </a>
            </li>
            </ul>
        </nav>                          
    </div>
    <!-- end sidebar -->
</aside>
<div class="content-wrapper" style="height: 100%;">
    <router-outlet #o="outlet"></router-outlet>
    
</div>
<!-- </mat-sidenav-container> -->







