@import '../styles-variables';

.active {
  // background-color: #d81b60 !important;
  // background-color: #008080 !important;
  background-color: rgba(243, 255, 226, .8) !important;
  color: #343a40 !important;
  font-weight: 600;
}


mat-sidenav-container {
  height: 100%;
  width: 100%;

  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;

    .nav-button {
      margin: 0 10px 0 0;
    }

    mat-icon {
      font-size: 24px;
    }

    .branding {
      cursor: pointer;
      padding-top: 4px;

      &.center {
        text-align: center;
      }

      img {
        position: relative;
        top: -2px;
        width: 48px;
        height: 48px;
      }
    }

    .sign-in-button {
      line-height: 35px;
      margin-right: 10px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }
      .sign-in-button {
        min-width: 0;
        padding: 0 10px;
        margin: 0 5px 0 0;
      }
    }
  }

  .wrapper {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .content {
      position: relative;
      flex: 1 0 auto;
    }

    .footer {
      flex: 0 0 auto;
      padding: 0 15px;
      text-align: center;

      .row {
        padding: 10px 0;

        .links {
          a {
            transition: padding 0.5s;
            display: inline-block;
            padding: 20px 5px;

            &:hover {
              text-decoration: none;
            }

            mat-icon {
              font-size: 30px;
              width: 35px;
            }

            span {
              display: inline-block;
              width: 75px;
              padding: 0 0 0 3px;
              overflow: hidden;
              text-align: left;
              white-space: nowrap;
              transition: width 0.5s;
            }
          }

          @media (min-width: map-get($grid-breakpoints, lg)) {
            a {
              padding: 20px 10px;
            }
          }

          @media (max-width: map-get($grid-breakpoints, md)) {
            a {
              padding: 20px;

              span {
                width: 0;
                padding: 0;
              }
            }
          }

          @media (max-width: map-get($grid-breakpoints, sm)) {
            a {
              padding: 20px 5px;
            }
          }
        }

        @media (min-width: map-get($grid-breakpoints, sm)) {
          .signature {
            position: relative;

            a {
              position: absolute;
              right: 15px;
            }
          }
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    .wrapper {
      top: 56px;
    }
  }
}

mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      height: 48px;
      margin: 2px 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}

.backgroundImg {
//   background-color: rgba(52, 58, 64, .5);
// background-image: url('./assets/image/wall3.jpg');
// background-repeat: no-repeat;
// background-size: 250px 657px;
// z-index: -999;
width: auto;
height: 100%;
opacity: 1;
position: absolute;
}

.backgroundImg2 {
  position: fixed;
  width: 100%;
  max-height: 56px;
  margin-left: -2%;
  opacity: 1;
}

.nav-item:hover {
  background-color: rgba(255,255,255,.3);
  border-radius: 5%;
  transition: all .2s ease;
}

